@{
    ViewBag.Title = "About";
}
<body>

    @if (HelperClass.Userlogged == "Admin")
    {
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <div class="sp-line"></div>

        <!-- Header section -->
        <header class="header-section">
            <div class="container">
                <ul class="main-menu-left site-menu-style">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/About">About</a></li>
                    <li><a href="~/Home/Contact">Contact</a></li>
                </ul>
                <a href="index.html" class="site-logo">
                    <img src="~/img/logo.png" alt="">
                </a>
                <ul class="main-menu-right site-menu-style">
                    <li><a href="~/Admin/Account">My Account</a></li>
                    <li><a href="~/Admin/AddProduct">Add Product</a></li>
                    <li><a href="~/Admin/ViewProducts">View Products</a></li>

                </ul>
            </div>
            <div class="search-switch">
                <img src="img/search-icon.png" alt="">
            </div>
        </header>
        <!-- Header section end -->
        <!-- Hero section -->
        <section class="hero-section">
            <div class="hero-social-links">
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <div class="brand-text">We love our brand</div>
            <div class="hero-slider owl-carousel">
                <div class="hero-slider-item set-bg" data-setbg="~/img/slider-bg-1.jpg">
                    <div class="hs-content">
                        <div class="container">
                            <h2>Fashionista</h2>
                            <a href="#" class="site-btn sb-white">Read More</a>
                            <a href="#" class="site-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="hero-slider-item set-bg" data-setbg="~/img/slider-bg-1.jpg">
                    <div class="hs-content">
                        <div class="container">
                            <h2>Fashionista</h2>
                            <a href="#" class="site-btn sb-white">Read More</a>
                            <a href="#" class="site-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero section end -->
        <!-- Quote section end -->
        <section class="quote-section">
            <div class="container">
                <div class="quote-text text-center">
                    <p>"Fashion is about dressing according to what’s fashionable. Style is more about being yourself."</p>
                    <h3>—Oscar de la Renta</h3>
                </div>
            </div>
        </section>
        <br />
        <section class="page-info-section set-bg" data-setbg="img/page-info-bg/3.jpg">
            <h2>Contact</h2>
        </section>
        <!-- Page info section end -->


        <!-- Contact section -->
        <section class="contact-section">
            <div class="container">
                <div class="text-center contact-title">
                    <h2>Get in touch</h2>
                </div>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your E-mail">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Message"></textarea>
                            <div class="text-center">
                                <button class="site-btn">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- Contact section -->


        <!-- Contact info & map section -->
        <div class="contact-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-info-box">
                            <img src="img/logo.png" alt="">
                            <ul>
                                <li><span>Address:</span>Main Str, no 23, New York</li>
                                <li><span>Phone:</span>+546 990221 123</li>
                                <li><span>Mail:</span>model@contact.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
        </div>
    }
    else
    {
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <div class="sp-line"></div>

        <!-- Header section -->
        <header class="header-section">
            <div class="container">
                <ul class="main-menu-left site-menu-style">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/About">About</a></li>
                    <li><a href="~/Home/Contact">Contact</a></li>
                </ul>
                <a href="index.html" class="site-logo">
                    <img src="~/img/logo.png" alt="">
                </a>
                <ul class="main-menu-right site-menu-style">
                    <li><a href="~/Admin/Login">Admin Login</a></li>

                </ul>
            </div>
            <div class="search-switch">
                <img src="img/search-icon.png" alt="">
            </div>
        </header>
        <!-- Header section end -->
        <!-- Hero section -->
        <section class="hero-section">
            <div class="hero-social-links">
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <div class="brand-text">We love our brand</div>
            <div class="hero-slider owl-carousel">
                <div class="hero-slider-item set-bg" data-setbg="~/img/slider-bg-1.jpg">
                    <div class="hs-content">
                        <div class="container">
                            <h2>Fashionista</h2>
                            <a href="#" class="site-btn sb-white">Read More</a>
                            <a href="#" class="site-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="hero-slider-item set-bg" data-setbg="~/img/slider-bg-1.jpg">
                    <div class="hs-content">
                        <div class="container">
                            <h2>Fashionista</h2>
                            <a href="#" class="site-btn sb-white">Read More</a>
                            <a href="#" class="site-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero section end -->
        <!-- Quote section end -->
        <section class="quote-section">
            <div class="container">
                <div class="quote-text text-center">
                    <p>"Fashion is about dressing according to what’s fashionable. Style is more about being yourself."</p>
                    <h3>—Oscar de la Renta</h3>
                </div>
            </div>
        </section>
        <br />
        <section class="page-info-section set-bg" data-setbg="img/page-info-bg/3.jpg">
            <h2>Contact</h2>
        </section>
        <!-- Page info section end -->


        <!-- Contact section -->
        <section class="contact-section">
            <div class="container">
                <div class="text-center contact-title">
                    <h2>Get in touch</h2>
                </div>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your E-mail">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Message"></textarea>
                            <div class="text-center">
                                <button class="site-btn">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- Contact section -->


        <!-- Contact info & map section -->
        <div class="contact-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-info-box">
                            <img src="img/logo.png" alt="">
                            <ul>
                                <li><span>Address:</span>Main Str, no 23, New York</li>
                                <li><span>Phone:</span>+546 990221 123</li>
                                <li><span>Mail:</span>model@contact.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
        </div>
    }
</body>